/*Bruna Heerdt page - NCIRL - 27.11.24 */

.navbar{
    text-align: left;
}
.home-bar{
    margin-inline-start: auto;
    display: flex;
    justify-content: right;
    background-color: white !important;
    height: 100%;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    header .row>div {
        text-align:  center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .home-bar {
        justify-content: center;
    }
    
}

.yellow-card{
    background-color: plum;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.circle{
    border-radius: 50%;    
}
.search-bar-link{
    color: plum;
    font-weight: bold;
    margin-right: 80px;
    font-family: "Montserrat", sans-serif;
}
.search-botton{
    background-color: plum;
    color: white;
    margin-inline-start: 40px;
    font-family: "Montserrat", sans-serif;
}
.search{
    margin-left: 80px;
    height: 70px;
    width: 400px;
}
.title-latest, .collections-color{
    color: plum;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.badge{
    background-color: plum;
    
}
.recipe-list-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.cook-book{
    max-width: 100%;
    margin-top: 40px;
}
.fw-bold{
    font-family: "Montserrat", sans-serif;
}
.view-more{
    text-align: center;
    background-color: plum;
    color: white;
    margin-top: 30px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    display:grid;
    font-size: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.cooking-pic{
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}
.Bruna{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.Nice{
    margin-top: 10px;
    color: plum;
    font-style: oblique;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.text{
    text-align: center;
}
.Signup{
    display: block;
    background-color: plum;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;   
}
.email-updates{
    font-style: oblique;
    font-family: "Montserrat", sans-serif;
}
.signup-form{
    margin-top: 15px;
}
.go{
    color: white;
}
.margin01{
    margin-top: 30px;
    text-align: left;
    text-decoration: dashed;
}
.margin01 a{
    text-decoration: none;
    color: rgb(86, 85, 85)
}
.margin02{
    margin-top: 30px;
    text-align: left;
}
.margin02 a {
    text-decoration: none;
    color: rgb(86, 85, 85)
}

.logo{
    margin-bottom: 10px;
    margin-top: 10px;
}
.recipes-blog{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-photo{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(237, 235, 235);
    margin-top:  70px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;    
}
.learn-more{
    text-align: center;
    background-color: plum;
    color: white;
    margin-top: 30px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    display:grid;
    font-size: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.photo-circle{
    border-radius: 50%;
    margin-top: -70px;
    width: 250px;
}
.signup-search{
    padding: 50px;
}
.list-recipe a{
    text-decoration: none;
    color: black;
}
.continue{
    color: blueviolet;
}
.recipe-list-body a{
    text-decoration: none;
    font-size: 20px;
}
.recipe-list-body a:hover .text-body-secondary{
    color: plum !important;
}
.jump{
    color: plum;
    font-weight: bold;
    background-color: rgb(237, 235, 235);
    display: block;
    padding: 10px;
    font-size: large;
    font-family: "Montserrat", sans-serif;
}
.alfredo{
    margin-top: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.font{
    font-family: "Montserrat", sans-serif;
}








